{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>

    </head>
    <h1 style="text-align: center">*** The Blog House ***</h1>

    <div style="font-family: inherit; text-align: right">
        <span style="font-size: 20px"> &nbsp; 
          <a href="{% url 'appbeto:inicio' %}">Volver</a>
        </span>
    </div>

<p>&nbsp</p>
<h1 style="font-family: inherit; text-align: center"> Acerca de mí</h1>
    <div style="font-family: inherit; text-align: center">
        <img src="{% static 'appbeto/img/perfil.png' %}" alt="Foto de perfil"
        class="img-fluid rounded-circle shadow-lg" style="max-width: 500px;">
    </div>
    <div style="font-family: inherit; text-align: center">
        <a href="https://en.wikipedia.org/wiki/The_Simpsons"
            target="_blank"
            class="btn btn-primary btn-lg px-4">
             Mas Información
        </a>
    </div>
