{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>

    </head>
    <h1 style="text-align: center">*** The Blog House ***</h1>
    
    {% if user.is_authenticated %}
        <div style="font-family: inherit; text-align: right">
        <span style="font-size: 20px"> &nbsp;        
            <form action="{% url 'appbeto:actualizauser' %}" method="get">
                {% csrf_token %}
                <button type= "submit">Editar Perfil</button>
            </form>
            <form action="{% url 'appbeto:salida' %}" method="post">
                {% csrf_token %}
                <button type= "submit">Cerrar Sesión</button>
            </form>
        </div>
    
    {% else %}
    <div style="font-family: inherit; text-align: right">
        <span style="font-size: 20px"> &nbsp; 
            <a href="{% url 'appbeto:login' %}">Iniciar Sesión</a> &nbsp; &nbsp;
            <a href="{% url 'appbeto:sobremi' %}">Sobre Mí</a>
        </span>
    </div>
    {% endif %}

    <p class="c0">
        <img src="{% static 'appbeto/img/coder.png' %}"
             style="width: 1270px;
                    height: 450px">
    </p>
    
    {% for message in messages %}
    <div style="font-family: inherit; text-align: center">
        <span style="font-size: 24px"> 
            <p>{{ message }}</p>
        </span>
    </div>
    {% endfor %}

    {% block extension %}
    {% endblock extension %}
