{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        {% block title %}
        
        {% endblock title %}
    </title>
</head>
     <h1> CELEBRACIÓN NAVIDEÑA 2024 </h1> 
     {% for message in messages %}
        <p> {{ message }} </p>
    {% endfor %}

    {% if user.is_authenticated%}
    <a href="{% url 'appbeto:actualizauser' %}">Editar Perfil</a>
    <form action="{% url 'appbeto:salida' %}" method="post">
        {% csrf_token %}
        <button type= "submit"> Cerrar Sesión</button>
    </form>
    {% else %}
    <a href="{% url 'appbeto:login' %}">Iniciar Sesión</a>
    {% endif %}

        <p class="c0">
            <img src="{% static 'appbeto/img/navidad.jpg' %}"
                 style="width: 1300px;
                       height: 300px">
        </p>
    
    {% block extension %}

    {% endblock extension %}
