{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>

    </head>
    <h1 style="text-align: center">*** The Blog House ***</h1>
    {% for message in messages %}<p>{{ message }}</p>{% endfor %}
    {% if user.is_authenticated %}
        <a href="{% url 'appbeto:actualizauser' %}">Editar Perfil</a>
        <form action="{% url 'appbeto:salida' %}" method="post">
            {% csrf_token %}
            <button type= "submit">Cerrar Sesión</button>
        </form>
    {% else %}

    <div style="font-family: inherit; text-align: right">
        <span style="font-size: 20px"> &nbsp; 
            <a href="{% url 'appbeto:login' %}">Iniciar Sesión</a> &nbsp; &nbsp;
            <a href="{% url 'appbeto:sobremi' %}">Sobre Mí</a>
        </span>
    </div>

    {% endif %}
    <p class="c0">
        <img src="{% static 'appbeto/img/coder.png' %}"
             style="width: 1270px;
                    height: 450px">
    </p>
    {% block extension %}
    {% endblock extension %}
