{% extends 'appbeto/base.html' %}
{% load static %}

{% block title %}
        inicio
{% endblock title %}

{% block extension %}

{% if user.is_authenticated%}
    <div style="font-size: 30px; text-align: center"> 
            <p> Estos Blogs Disponibles Para Tí</p>      
    </div>

   
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Blog</th>
                        <th>Categoría</th>
                        <th>Título</th>
                        <th>Ultima Actualización</th>
                        <th>Autor</th>
                        <th>Acciones</th>
                        {% if user.is_staff %}
                            <th>
                                <a href="{% url 'appbeto:misblog_crear' %}">Crear Nuevo</a>     
                            </th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for indice in id_blog %}
                        <tr>
                            <td>{{ indice.icono }}</td>
                            <td>{{ indice.categoria }}</td>
                            <td>{{ indice.titulo }}</td>
                            <td>{{ indice.fecha }}</td>
                            <td>{{ indice.nick }}</td>
                            <td>
                                <button>
                                    <a href="{% url 'appbeto:familiar_borrar' indice.id %}"> Visitar</a>
                                </button>
                                <button>
                                    <a href="{% url 'appbeto:misblog_edit' indice.id %}"> Modificar</a>
                                </button>
                            </td>
                            <td>
                                {% if user.is_staff %}
                                    <button>
                                        <a href="{% url 'appbeto:misblog_borrar' indice.id %}"> Eliminar</a>
                                    </button>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endif %}

{% endblock extension %}

