{% extends 'appbeto/base.html' %}
{% load static %}

{% block title %}
        inicio
{% endblock title %}

{% block extension %}

{% if user.is_authenticated%}
    <div style="font-family: inherit; text-align: center">
        <span style="font-size: 30px"> 
            <p> Tenemos Estos Blogs Disponibles Para Tí</p>      
      </span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Id</th>
                        <th>Categoría</th>
                        <th>Título</th>
                        <th>Actualizado</th>
                        <th>Autor</th>
                        <th class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for indice in id_blog %}
                        <tr>
                            <td>{{ indice.icono }}</td>
                            <td>{{ indice.categoria }}</td>
                            <td>{{ indice.titulo }}</td>
                            <td>{{ indice.fecha }}</td>
                            <td>{{ indice.nick }}</td>
      
                            
    <ul>
     {% for indice in id_blog %}
            <li>
                {{indice}}
                <button>
                    <a href="{% url 'appbeto:familiar_editar' indice.id %}"> Visitar</a>
                </button>
                <button>
                    <a href="{% url 'appbeto:familiar_editar' indice.id %}"> Modificar</a>
                </button>
                {% if user.is_staff %}
                    <button>
                        <a href="{% url 'appbeto:familiar_borrar' indice.id %}"> Eliminar</a>
                    </button>
                {% endif %}
            </li>

     {% endfor %}
    </ul>
    <p></p>
{% endif %}

{% endblock extension %}

