{% extends 'appbeto/base.html' %}
{% load static %}

{% block title %}
        registro
{% endblock title %}

{% block extension %}
<div style="font-family: inherit; text-align: center">
    <span style="font-size: 30px"> 
        <p> Registro de usuario</p>
    </span>
</div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit">Registrarme</button>
    </form>
    <p></p>
    <a href="{% url 'appbeto:inicio' %}">Regresar a Inicio</a>
       
{% endblock extension %}
